.popup__input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 9px 0 11px;

}

.popup__input:last-of-type {
  /*margin-bottom: 24px;*/
}
@media screen and (max-width: 320px) {
  .popup__input{
    padding: 4px 0 7px;
  }
}
