

.form-field{
  background: #FFFFFF;
  width: 608px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
margin: 0;
  border-radius: 100px;
}
@media (min-width: 1281px) and (max-width: 1440px)  {
  .form-field {
    max-width: 600px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px)  {
  .form-field {
    max-width: 600px;
  }
}
@media (min-width: 769px) and (max-width: 1024px)  {
  .form-field {
    max-width: 600px;
  }
}
@media (min-width: 376px) and (max-width: 768px)  {
  .form-field {
    max-width: 376px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .form-field {
    flex-direction: column;
    max-width: 288px;
    height: 56px;
    /*justify-content: center;*/
  }
}


@media screen and (max-width: 320px) {
  .form-field {
    flex-direction: column;
    max-width: 288px;
    height: 56px;

  }
}

