@import url(__about/author__about.css);
@import url(__info/author__info.css);
@import url(__info-text/author__info-text.css);
@import url(__info-title/author__info-title.css);
@import url(__photo/author__photo.css);

.author{
  display: flex;
  flex-direction: row;
  background: #FFFFFF;
  height: auto;
  margin: auto;
}

@media (min-width: 1441px) {
  .author {
    max-width: 1440px;

  }
}
@media (min-width: 1281px) and (max-width: 1440px)  {
  .author {
    max-width: 1280px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px)  {
  .author {
    max-width: 1024px;
  }
}
@media (min-width: 768px) and (max-width: 1024px)  {
  .author {
    max-width: 768px;

  }
}
@media (min-width: 421px) and (max-width: 767px)  {
  .author {
    max-width: 421px;

  }
}
@media (min-width: 376px) and (max-width: 420px)  {
  .author {
    max-width: 375px;

  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .author {
    max-width: 320px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 320px) {
  .author {
    max-width: 320px;
flex-direction: column;
    align-items: center;
  }
}
