
@import url('./__main/header__main.css');
@import url('./__button/header__button.css');
@import url('./__buttons/header__buttons.css');
@import url('./__search/header__search.css');
@import url('./__search-title/header__search-title.css');
@import url('./__search-subtitle/header__search-subtitle.css');

@media screen and (max-width: 1440px) {
  .header {
    min-height: 576px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-bottom: 1px solid #A5A5A5;
    margin:auto;
    background-image:url("./images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg");
    background-size: cover;
  }
}

.header_theme-white {
  background:white;
  min-height: unset;
}
@media screen and (max-width: 1280px) {
  .header {
    max-width: 1280px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;

  }
}
@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    background-size: cover;
    background-image:url("./images/georgia-de-lotz--UsJoNxLaNo-unsplash.svg");

  }
}
