

.footer__container{
  display: flex;
  flex-direction: row;
  width:1440px;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;

}
@media screen and (max-width: 1440px) {
  .footer__container{
  }
}
@media screen and (max-width: 1280px) {
  .footer__container{
    padding-left: 106px;
    padding-right: 106px;
  }
}
@media screen and (max-width: 768px) {
  .footer__container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 320px) {
  .footer__container {
    min-width: unset;
    flex-direction: column;
    /*align-items: self-start;*/
    /*justify-items: self-start;*/
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    padding: 0;
    /*max-width: 272px;*/
  }
}
