

.footer__link-social{
  margin: 0;
}
@media screen and (max-width: 1440px) {
  .footer__link-social{
  }
}
@media screen and (max-width: 1280px) {
  .footer__link-social{

  }
}
@media screen and (max-width: 768px) {
  .footer__link-social{
    min-width: unset;
  }
}
@media screen and (max-width: 320px) {
  .footer__link-social {
    min-width: unset;
margin-right: 20px;
  }
  .footer__link-social:last-child {
    min-width: unset;
    margin-right: 0;
  }
}
