

.marker-frame{
  min-width: 40px;
  max-height: 40px;
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-right: 24px;

}

@media (min-width: 1281px) and (max-width: 1440px)  {
  .marker-frame{
    margin-top: 24px;
    margin-right: 24px;

  }
}
@media (min-width: 1025px) and (max-width: 1280px)  {
  .marker-frame{
    margin-top: 24px;
    margin-right: 24px;
  }
}
@media (min-width: 376px) and (max-width: 768px)  {
  .marker-frame{
    margin-top: 8px;
  }
}
@media screen and (max-width: 320px) {
  .marker-frame{

  }
}
.marker-frame_info{

}

@media (min-width: 1281px) and (max-width: 1440px)  {
  .marker-frame_info{
    min-width: 182px;
    height: 40px;
    margin-right: 5px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px)  {
  .marker-frame_info{
    min-width: 182px;
    height: 40px;
    margin-right: 5px;
  }
}
@media (min-width: 769px) and (max-width: 1024px)  {
  .marker-frame_info{
    display: none;
  }
}
@media (min-width: 376px) and (max-width: 768px)  {
  .marker-frame_info{
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .marker-frame_info{
    display: none;
  }
}
.marker-frame_saved{
  min-width: 100px;
  height: 40px;
  margin-right: 5px;
}
@media (min-width: 1281px) and (max-width: 1440px)  {
  .marker-frame_saved {

  }
}
@media (min-width: 1025px) and (max-width: 1280px)  {
  .marker-frame_saved {

  }
}
@media (min-width: 376px) and (max-width: 768px)  {
  .marker-frame_saved {
    display: none;

  }
}
@media screen and (max-width: 320px) {
  .marker-frame_saved {
display: none;
  }
}
.marker-frame_tag {
  /*margin-right: 80px;*/
}
@media (min-width: 1281px) and (max-width: 1440px)  {
  .marker-frame_tag {
    margin-right: 24px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px)  {
  .marker-frame_tag {
    margin-right: 24px;
  }
}
@media (min-width: 376px) and (max-width: 768px)  {
  .marker-frame_tag {
    margin-right: 24px;
  }

}
@media screen and (max-width: 660px) {
  .marker-frame_tag {
    margin-right: 15px;
  }
  .marker-frame_delete {
    max-width: 40px;
    margin-left: 25px;
  }
}
@media screen and (max-width: 425px) {
  .marker-frame_tag {
    margin-right: 15px;
  }
  .marker-frame_delete {
    max-width: 40px;
    margin-left: 25px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .marker-frame_tag {
    margin-right: 5px;
  }
  .marker-frame_delete {
    max-width: 40px;
    margin-left: 25px;
  }
  .marker-frame_saved {
    display: none;

  }
}
@media screen and (max-width: 320px) {
  .marker-frame_tag {
    margin-right: 5px;
  }

  .marker-frame_delete {
    max-width: 40px;
    margin-left: 25px;
  }
}
