

.card__text{
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  padding-top: 12px;
  padding-bottom: 10px;
  text-align: left;
  /*width: auto;*/
  margin: 0 0 auto;
}

@media (min-width: 1281px) and (max-width: 1440px)  {
  .card__text{
  }
}
@media (min-width: 1025px) and (max-width: 1280px)  {
  .card__text{
  }
}
@media (min-width: 376px) and (max-width: 768px)  {
  .card__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    height: 82px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .card__text{
    min-width: unset;
  }
}
@media screen and (max-width: 320px) {
  .card__text{
    min-width: unset;
  }
}
