.warn {
    font-size: 12px;
    color: #FF0000;
    margin: 0;
    /*padding-left: 5px;*/
    position: relative;
    /*top: -7px;*/
    z-index: 99;
  line-height: 10px;
  min-height: 10px;
  min-width: 250px;
  display: inline-block;
  visibility: visible;
}
.warn_user {
  display: inline-block;
  align-self: center;
  position: absolute;
  top:370px;
  right: 73px;

}
