
@media screen and (max-width: 1440px) {
  .author__photo{
    border-radius: 100px;
    height: 486px;
    min-width: 486px;
  }
}
@media screen and (max-width: 1280px) {
  .author__photo {
    max-height: 486px;
    min-width: 486px;
  }
}
@media screen and (max-width: 768px) {
  .author__photo {
    max-height: 232px;
    min-width: 232px;

  }
}
@media screen and (max-width: 320px) {
  .author__photo {
   height: 272px;
    width: 272px;
    min-width: unset;
    max-height: unset;
  }
}
