

.marker-info{
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.marker-info_saved{
  padding: 10px 10px 10px 10px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  max-width: 100%;
  /*overflow: hidden;*/
}
