
@import url(./__container/footer__container.css);
@import url(./__links/footer__links.css);
@import url(./__links-project/footer__links-project.css);
@import url(./__links-social/footer__links-social.css);
@import url(./__link/footer__link.css);
@import url(./__link-social/footer__link-social.css);
.footer{
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  justify-content: space-between;
  padding-left: 106px;
  padding-right: 106px;
  height: 80px;
}
@media screen and (max-width: 1440px) {
  .footer{
  }
}
@media screen and (max-width: 1280px) {
  .footer{
    padding-left: 106px;
    padding-right: 106px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    min-width: unset;
    padding: 0;
    height: unset;
  }
}

